<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Gyrex Development">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.apache.commons.beanutils.source" version="1.7.0.v200803061811"/>
<unit id="org.apache.commons.codec" version="1.3.0.v20080530-1600"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v20080530-1600"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.fileupload" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201005080502"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201005080502"/>
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.io.source" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.el" version="1.0.0.v201004212143"/>
<unit id="org.apache.commons.el.source" version="1.0.0.v201004212143"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201005080502"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201005080502"/>
<unit id="org.apache.commons.net" version="2.0.0.v200905272248"/>
<unit id="org.apache.commons.net.source" version="2.0.0.v200905272248"/>
<unit id="org.apache.commons.pool" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.commons.pool.source" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.derby" version="10.5.1.1_201005141118"/>
<unit id="org.apache.derby.source" version="10.5.1.1_201005141118"/>
<unit id="javax.activation" version="1.1.0.v201005080500"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.0.0.v200905121600"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.0.0.v200905121600"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.0.0.v200905121600"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.0.0.v200905121600"/>
<unit id="org.apache.commons.cli.source" version="1.0.0.v20080604-1500"/>
<unit id="org.apache.commons.cli" version="1.0.0.v20080604-1500"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.oro" version="2.0.8.v201005080400"/>
<unit id="org.apache.oro.source" version="2.0.8.v201005080400"/>
<unit id="org.apache.jasper" version="5.5.17.v201004212143"/>
<unit id="org.apache.jasper.source" version="5.5.17.v201004212143"/>
<unit id="org.apache.lucene" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.core" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml.bind" version="2.2.0.v201005080402"/>
<unit id="javax.annotation.source" version="1.0.0.v20100513-0750"/>
<unit id="javax.annotation" version="1.0.0.v20100513-0750"/>
<unit id="javax.transaction.source" version="1.1.1.v201004190952"/>
<unit id="javax.transaction" version="1.1.1.v201004190952"/>
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="com.google.collect.source" version="1.0.0.v201003051000"/>
<unit id="com.google.gwt.servlet" version="2.0.3.v20100419-0751"/>
<unit id="com.google.gwt.servlet.source" version="2.0.3.v20100419-0751"/>
<unit id="com.google.gwt.user" version="2.0.3.v20100419-0751"/>
<unit id="com.google.gwt.user.source" version="2.0.3.v20100419-0751"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="com.sun.xml.bind.source" version="2.2.0.v201004141950"/>
<unit id="com.sun.xml.bind" version="2.2.0.v201004141950"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201005082020"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v201005082020"/>
<unit id="org.mortbay.jetty.server" version="6.1.23.v201004211559"/>
<unit id="org.mortbay.jetty.server.source" version="6.1.23.v201004211559"/>
<unit id="org.mortbay.jetty.util.source" version="6.1.23.v201004211559"/>
<unit id="org.mortbay.jetty.util" version="6.1.23.v201004211559"/>
<unit id="org.mortbay.jetty" version="5.1.14.v200806031611"/>
<unit id="org.mortbay.jetty.source" version="5.1.14.v200806031611"/>
<unit id="org.json" version="1.0.0.v201003050614"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="ch.qos.logback.classic" version="0.9.19.v20100506-1420"/>
<unit id="ch.qos.logback.classic.source" version="0.9.19.v20100506-1420"/>
<unit id="ch.qos.logback.core" version="0.9.19.v20100419-1216"/>
<unit id="ch.qos.logback.core.source" version="0.9.19.v20100419-1216"/>
<unit id="ch.qos.logback.slf4j" version=""/>
<unit id="ch.qos.logback.slf4j.source" version=""/>
<unit id="javax.servlet" version="2.5.0.v200910301333"/>
<unit id="javax.servlet.source" version="2.5.0.v200910301333"/>
<unit id="org.slf4j.api" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.ext" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.ext.source" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.api.source" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.jul" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.jul.source" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.jcl" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.jcl.source" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.log4j" version="1.5.11.v20100419-1106"/>
<unit id="org.slf4j.log4j.source" version="1.5.11.v20100419-1106"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20100514103823/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.0.v20100519-7G7R-7lz-qs-z-vnhGTVo6f8jIiy"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.0.v20100507-7M7K-FIhIez-egBko15H73"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6milestones/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
