<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Gyrex Development">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.classic.source" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.core.source" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j.source" version="0.0.0"/>
<unit id="com.google.collect" version="0.0.0"/>
<unit id="com.google.collect.source" version="0.0.0"/>
<unit id="com.google.gwt.servlet" version="0.0.0"/>
<unit id="com.google.gwt.servlet.source" version="0.0.0"/>
<unit id="com.google.gwt.user" version="0.0.0"/>
<unit id="com.google.gwt.user.source" version="0.0.0"/>
<unit id="com.sun.xml.bind" version="0.0.0"/>
<unit id="com.sun.xml.bind.source" version="0.0.0"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.annotation" version="0.0.0"/>
<unit id="javax.annotation.source" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.inject.source" version="0.0.0"/>
<unit id="javax.mail.glassfish" version="0.0.0"/>
<unit id="javax.mail.glassfish.source" version="0.0.0"/>
<unit id="javax.management" version="0.0.0"/>
<unit id="javax.management.remote" version="0.0.0"/>
<unit id="javax.persistence" version="0.0.0"/>
<unit id="javax.persistence.source" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="javax.servlet.source" version="0.0.0"/>
<unit id="javax.transaction" version="0.0.0"/>
<unit id="javax.transaction.source" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.bind.source" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="org.apache.commons.beanutils" version="0.0.0"/>
<unit id="org.apache.commons.beanutils.source" version="0.0.0"/>
<unit id="org.apache.commons.cli" version="0.0.0"/>
<unit id="org.apache.commons.cli.source" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.codec.source" version="0.0.0"/>
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.commons.collections.source" version="0.0.0"/>
<unit id="org.apache.commons.el" version="0.0.0"/>
<unit id="org.apache.commons.el.source" version="0.0.0"/>
<unit id="org.apache.commons.fileupload" version="0.0.0"/>
<unit id="org.apache.commons.fileupload.source" version="0.0.0"/>
<unit id="org.apache.commons.httpclient" version="0.0.0"/>
<unit id="org.apache.commons.httpclient.source" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.io.source" version="0.0.0"/>
<unit id="org.apache.commons.jxpath" version="0.0.0"/>
<unit id="org.apache.commons.jxpath.source" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.commons.logging.source" version="0.0.0"/>
<unit id="org.apache.commons.net" version="0.0.0"/>
<unit id="org.apache.commons.net.source" version="0.0.0"/>
<unit id="org.apache.commons.pool" version="0.0.0"/>
<unit id="org.apache.commons.pool.source" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.apache.derby.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="0.0.0"/>
<unit id="org.apache.jasper" version="0.0.0"/>
<unit id="org.apache.jasper.source" version="0.0.0"/>
<unit id="org.apache.oro" version="0.0.0"/>
<unit id="org.apache.oro.source" version="0.0.0"/>
<unit id="org.json" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.mortbay.jetty" version="0.0.0"/>
<unit id="org.mortbay.jetty.server" version="0.0.0"/>
<unit id="org.mortbay.jetty.server.source" version="0.0.0"/>
<unit id="org.mortbay.jetty.source" version="0.0.0"/>
<unit id="org.mortbay.jetty.util" version="0.0.0"/>
<unit id="org.mortbay.jetty.util.source" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="org.slf4j.api.source" version="0.0.0"/>
<unit id="org.slf4j.ext" version="0.0.0"/>
<unit id="org.slf4j.ext.source" version="0.0.0"/>
<unit id="org.slf4j.jcl" version="0.0.0"/>
<unit id="org.slf4j.jcl.source" version="0.0.0"/>
<unit id="org.slf4j.jul" version="0.0.0"/>
<unit id="org.slf4j.jul.source" version="0.0.0"/>
<unit id="org.slf4j.log4j" version="0.0.0"/>
<unit id="org.slf4j.log4j.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit" version="3.8.2.v3_8_2_v20100427-1100"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit.source" version="3.8.2.v3_8_2_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.0.v20100524-7M7K-FIhIez-egBko15H73"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.6.0.v20100421-7V7RFisFNObpCoqow"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.6.0.v20100603-7sF99FsFFUu63a35g6s"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.6.0.v20100421-7u7NFVgFN5JdPKM_N9VZwrdLT4m2"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.apache.lucene" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.core" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="com.ibm.icu" version="4.2.1.v20100412"/>
<unit id="com.ibm.icu.source" version="4.2.1.v20100412"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dorg.eclipse.equinox.http.jetty.autostart=false&#13;
-server&#13;
-XX:+UseParallelGC&#13;
-XX:MaxPermSize=128m</vmArgs>
<programArgs>-console&#13;
-nosplash</programArgs>
</launcherArgs>
</target>
