<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Gyrex Development" sequenceNumber="62">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.pool" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.commons.pool.source" version="1.4.0.v20081016-1000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.hadoop.zookeeper" version="3.3.3.v201105210832"/>
<unit id="org.apache.hadoop.zookeeper.source" version="3.3.3.v201105210832"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.apache.derby.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.xmlrpc" version="3.0.0.v20100427-1100"/>
<unit id="org.apache.ws.commons.schema" version="1.4.2.v201003051240"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.apache.xml.security" version="1.4.2.v201005080400"/>
<unit id="org.apache.ws.commons.util" version="1.0.1.v20100518-1140"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.mina.core" version="2.0.2.v201108120515"/>
<unit id="org.apache.mina.core.source" version="2.0.2.v201108120515"/>
<unit id="org.apache.sshd.core" version="0.5.0.v201108120515"/>
<unit id="org.apache.sshd.core.source" version="0.5.0.v201108120515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.icu" version="4.4.2.v20110823"/>
<unit id="com.ibm.icu.source" version="4.4.2.v20110823"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20111010-1614-7M7f8Z8fy_d3DGDmLU02-qd8z0PQ"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.net" version="2.2.0.v201101241833"/>
<unit id="org.apache.commons.net.source" version="2.2.0.v201101241833"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.httpcomponents.httpcore" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.classic.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.slf4j" version="1.0.0.v20120123-1500"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.0.v20120123-1500"/>
<unit id="org.slf4j.api" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.ext" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.ext.source" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.api.source" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.jul" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.jul.source" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.jcl" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.jcl.source" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.log4j" version="1.6.4.v20111214-2030"/>
<unit id="org.slf4j.log4j.source" version="1.6.4.v20111214-2030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.quartz" version="1.8.3.v20110329-1420"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.incubator.feature.feature.group" version="1.5.0.20111016-1058"/>
<repository location="http://download.eclipse.org/rt/rap/1.5/incubator"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.4.0.v20120121-r10721"/>
<repository location="http://download.eclipse.org/rt/eclipselink/nightly-updates/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.di" version="1.1.0.v20111026-1857"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v201101211617"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20111122-1556-7P7OFvNFLWUl76ponNOCoeY"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.net.win32.x86" version="1.0.100.I20110331-0827"/>
<unit id="org.eclipse.core.net.linux.x86" version="1.1.200.I20110419-0800"/>
<unit id="org.eclipse.core.net.source" version="1.2.200.v20111202-1616"/>
<unit id="org.eclipse.core.net" version="1.2.200.v20111202-1616"/>
<unit id="org.eclipse.core.net.win32.x86_64" version="1.0.100.I20110331-0827"/>
<unit id="org.eclipse.core.net.linux.x86_64" version="1.1.0.I20110331-0827"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.jcraft.jsch" version="0.1.44.v201101211721"/>
<unit id="com.jcraft.jsch.source" version="0.1.44.v201101211721"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.0.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/dbaccess/updates/1.0/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.runtime.requirements.feature.group" version="1.5.0.20111213-2057"/>
<unit id="org.eclipse.rap.runtime.feature.group" version="1.5.0.20111213-2057"/>
<repository location="http://download.eclipse.org/rt/rap/1.5/runtime/M4-20111213-2043/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.smile" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.smile.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.100.v20110331-7C7GDHAkHgHrBo1M4DF585202816"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.kohsuke.args4j" version="2.0.12.v200910131500"/>
<unit id="org.kohsuke.args4j.source" version="2.0.12.v200910131500"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.lucene" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.core" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core" version="1.4.0.v20110304-0751"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20110304-1145"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="3.5.0.v20110503-7R7aBjBgLiK-Dr5Q5FQ7A5202816"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.apache.commons.beanutils.source" version="1.7.0.v200803061811"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.fileupload" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.collect" version="0.0.0"/>
<unit id="com.google.collect.source" version="0.0.0"/>
<unit id="com.sun.xml.bind" version="0.0.0"/>
<unit id="com.sun.xml.bind.source" version="0.0.0"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.annotation" version="0.0.0"/>
<unit id="javax.annotation.source" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.inject.source" version="0.0.0"/>
<unit id="javax.mail.glassfish" version="0.0.0"/>
<unit id="javax.mail.glassfish.source" version="0.0.0"/>
<unit id="javax.management" version="0.0.0"/>
<unit id="javax.management.remote" version="0.0.0"/>
<unit id="javax.persistence" version="0.0.0"/>
<unit id="javax.persistence.source" version="0.0.0"/>
<unit id="javax.servlet" version="3.0.0.v201112011016"/>
<unit id="javax.servlet.source" version="3.0.0.v201112011016"/>
<unit id="javax.transaction" version="0.0.0"/>
<unit id="javax.transaction.source" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.bind.source" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="org.apache.commons.el" version="0.0.0"/>
<unit id="org.apache.commons.el.source" version="0.0.0"/>
<unit id="org.apache.jasper" version="0.0.0"/>
<unit id="org.apache.jasper.source" version="0.0.0"/>
<unit id="org.apache.oro" version="0.0.0"/>
<unit id="org.apache.oro.source" version="0.0.0"/>
<unit id="org.json" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.orbit.mongodb" version="2.6.3.v20110810-0612"/>
<unit id="org.eclipse.orbit.mongodb.source" version="2.6.3.v20110810-0612"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120123151124/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.0"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="8.1.0"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.0.RC5/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.servlet.jsp.glassfish.source.feature.group" version="2.2.0.201112120252"/>
<unit id="javax.servlet.jsp.glassfish.feature.group" version="2.2.0.201112120252"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-rt-3.8milestones/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dorg.eclipse.equinox.http.jetty.autostart=false&#13;
-server&#13;
-XX:+UseParallelGC&#13;
-XX:MaxPermSize=128m</vmArgs>
<programArgs>-console&#13;
-nosplash</programArgs>
</launcherArgs>
</target>
